<ion-header>
  <ion-toolbar>
    <ion-col>
      <div class="ion-text-center">
        <h3>Home</h3>
      </div>
    </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <div class="ion-text-center">
      <h3>Seleccione alguna de las paginas siguientes</h3>
    </div>
  </ion-col>

    <ion-button color="success"  expand="block" fill="outline" (click)="page1()">Pagina 1</ion-button>
    <br>
    <ion-button color="success"  expand="block" fill="outline"(click)="page2()">Pagina 2</ion-button>
    <br>
    <ion-button color="success"  expand="block" fill="outline" (click)="page3()">Pagina 3</ion-button>
    <br>
    <ion-button color="success"  expand="block" fill="outline"(click)="page4()">Pagina 4</ion-button>
    <br>
    <ion-button color="success"  expand="block" fill="outline" (click)="page5()">Pagina 5</ion-button>
    <br>
    <ion-button color="success"  expand="block" fill="outline" (click)="page6()">Pagina 6</ion-button>
    
    